
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        
        header {
            background-color: #333;
            color: #FF6600;
            padding: 10px;
            text-align: center;
            top: auto;
            
        }
        
        .container {
            max-width: 750px;
            margin: 10px auto;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            }
        
        footer {
            text-align: center;
            padding: 10px;
            background-color: #333;
            color: white;
            bottom: auto;
        }

        
        *{
            margin: 3;
            padding: 0;
            text-decoration: none;
            list-style: none;

        }

        nav{
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 5px;
            align-items: center;
            box-shadow: 0px 5px 10px 0px #ff9900;

        }
        
        .items ul{
            display: flex;
        }

        .items ul li *{
            margin: 0px 78px;
            font-size: 20px;
            color: black;
        }

        h1{
            font-size: 50px;
        }

        .items{
            align-items: center;
        }

        .items ul li:hover{
            opacity: 0.5;
        }
        